<div class="contanier-fluid calc shadow p-3 mb-5 bg-white rounded">
	<form [formGroup]="resetPassword" (ngSubmit)="onSubmit()" role="form">
	    <div class="form-group">
	      <label for="username" class="control-label required">Username</label>
	      <input type="text" class="form-control" [ngClass]="{'is-invalid' : resetPassword.get('username').errors && 
	    (resetPassword.get('username').touched || resetPassword.get('username').dirty)}" id="username" placeholder="username" formControlName="username">
	    </div>
	    <div class="form-group">
      		<label for="email">Email address</label>
      		<input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : resetPassword.get('email').errors && (resetPassword.get('email').touched || resetPassword.get('email').dirty)}"  placeholder="name@example.com">
    	</div>
    	<div class="form-group">
	      <label for="phone">Phone</label>
	      <input type="tel" class="form-control" formControlName="phone" [ngClass]="{'is-invalid' : resetPassword.get('phone').errors && (resetPassword.get('phone').touched || resetPassword.get('phone').dirty)}" placeholder="9191919191" pattern="[0-9]{10}">
	    </div>
    	<div class="form-group">
      		<label for="password" class="control-label required">New Password</label>
      		<input type="password" class="form-control" [ngClass]="{'is-invalid' : resetPassword.get('password').errors && 
    		(resetPassword.get('password').touched || resetPassword.get('password').dirty)}" id="password" placeholder="Password" formControlName="password">
    	</div>
    	<div class="form-group">
      		<label for="password1" class="control-label required">Re-enter Password</label>
      		<input type="password" class="form-control" [ngClass]="{'is-invalid' : resetPassword.get('password1').errors && 
    		(resetPassword.get('password1').touched || resetPassword.get('password1').dirty)}" id="password1" placeholder="password" formControlName="password1">
    	</div>
    	<div class="form-group row">
	      <div class="col-sm-12">
	      	<button type="button" (click)="goBack()" class="btn btn-light">Back</button>
	        <button type="submit" class="btn btn-primary float-right">Submit</button>
	      </div>
	    </div>
	    <div>
	    	<div *ngIf="errorMessage" class="alert alert-danger">
        		<strong>Please fill all the fields correctly</strong>
      		</div>
      		<div *ngIf="success" class="alert alert-success">
        		<p><strong>Success!! </strong> You will be redirected soon!</p>
      		</div>
      		<div *ngIf="passwordNotSame" class="alert alert-danger">
        		<p><strong>Error!! </strong>Password mismatch</p>
      		</div>
      		<div *ngIf="errorMismatch" class="alert alert-danger">
        		<p><strong>Error!! </strong>Details mismatch</p>
      		</div>
	    </div>
	</form>
</div>
