<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="col-md-4 col-sm-4 col-lg-12 logo">
      <p>Shift Calculator</p>
    </div>

    <div class="">
      <div class="content shadow p-3 mb-5 bg-white rounded">
        <div class="login">
          <h1>Login</h1>
        </div>
        <div class="user" (keydown.enter)="login()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <button type="button" class="btn btn-primary moveLeft" (click)="login()">Submit</button>
          <div class="login">
            <button class="btn btn-primary" disabled *ngIf="loading">
              <span class="spinner-border spinner-border-sm"></span>
              Loading..
            </button>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">
          <strong>Wrong Username/Password</strong>
        </div>
      </div>
    </div>

  </div>
</div>